<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{> menu}}
        <h1>Blog Posts</h1>
        <div>
        {{#posts}}
            <h2>{{title}}<h2>
            <h3>Author: {{author}}<h3>
            <h4>Date Posted: {{dateposted}}<h4>
            <p>{{posttext}}</p>
            <a href="/blog/{{postid}}/updateblog">Edit</a>
            <br/>
            <br/>
            <form id="deleteblogform" action="/blog/{{postid}}/deleteblog/" method="POST">
                <input type="submit" value="Delete">
            </form>
        {{/posts}}
        </div>
    </body>
</html>