<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="view-trips">
            {{#trips}}
                <form action="/deletetrip" method="POST">
                    {{tripInfo.title}}
                    <img src="{{tripInfo.imgsrc}}" style="height: 100px; width: 100px">
                    {{tripInfo.dateDepart}}
                    {{tripInfo.dateReturn}}
                    <input type="hidden" name="tripId" value="{{tripId}}">
                    <input type="submit" value="Delete">
                </form>
            {{/trips}}
            <a href="/addtrip">Add Another Trip</a>
        </div>
    </body>
</html>