<div id="main-menu">
    <a href="/trip">Home</a>
    <a href="/trip/addtrip">Add Trip</a>
    <a href="/chatroom">Trip Chat</a>
    <a href="/login">Log In / Sign Up</a>
    <a href="/signout">Sign Out</a>
</div>