<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{> menu}}
        <h1>Movie Details</h1>
        <div>
            <h2>Title:</h2>
            <h4>{{title}}</h4>
            <img src="{{imgUrl}}" style="height: 100px; width: 100px;"/>
            <h2>Genre:</h2>
            <h4>{{genre}}</h4>
            <h2>Description:</h2>
            <p>{{description}}</p>
        </div>
    </body>
</html>