<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{> menu}}
        <h1>Blog Post</h1>
        <h2>{{title}}<h2>
        <h3>Author: {{author}}<h3>
        <h4>Date Posted: {{datePosted}}<h4>
        <p>{{postText}}</p>
        <h3>Comments</h3>
        {{#comments}}
            <span>{{commentor}} </span> <span>{{dateposted}}</span>
            <p>{{commenttext}}</p>
        {{/comments}}
            <form id="commentform" action="/blog/{{postid}}/commentblog/" method="POST">
                <textarea id="comment-text" rows="3" cols="50" name="commentText">
                </textarea>
                <br/>
                <input type="submit" value="Comment">
            </form>        
        </div>
    </body>
</html>