<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{> menu}}
        <h1>Blog Posts</h1>
        <div>
        {{#posts}}
            <h2>{{title}}<h2>
            <h3>Author: {{author}}<h3>
            <h4>Date Posted: {{dateposted}}<h4>
            <p>{{posttext}}</p>
            <p># of Comments: {{commentcount}}</p>
            <form id="commentform" action="/blog/{{postid}}/commentblog/" method="POST">
                <textarea id="comment-text" rows="3" cols="50" name="commentText">
                </textarea>
                <br/>
                <input type="submit" value="Comment">
            </form>
        {{/posts}}
        </div>
    </body>
</html>